<nav>
    <div class="container-fuild mt-4">
        <ul>
            <li class="head-2"><Strong class="head-1">BA</Strong>BRAVE ASPIRE</li>
<li>
    <ul class="d-flex justify-content-end d-form me-5">
        <li class="li-t">
            <mat-icon>home</mat-icon>
            Home
        </li>
        <li class="li-t">
            <mat-icon>address</mat-icon>
            My saved Jobs
        </li>
        <li class="li-t">
            <mat-icon>login</mat-icon>
            Login
        </li>

        

    </ul>
</li>
           
        </ul>
       
    </div>
</nav>

<div class="section-1 mt-4">
<h1>Guide me to a suitable job</h1>
<p>Giuded search will enable you to find job opportunties across functions and experience levels</p>
</div>

<div class="row mt-1 mb-1">
    <div class="col-md-6 sec-1">
<img src="assets/car2.jpg" alt=""width="100%" height="100%">
    </div>
    <div class="col-md-6 p-5 sec-2">
        <h1 class="bg-primary text-center text-white p-3">Carrers</h1>
        <form action="www.google.com">
          <div class="form-group mt-3">
            <label for="exampleInputName">Full Name</label>
            <input type="text" name="fullname" class="form-control" id="exampleInputName" placeholder="Enter your name and surname" required="required">
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1" required="required">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email address">
          </div>
          <div class="form-group mt-3">
            <label for="inputAddress">Address</label>
            <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-row mt-3">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" name="city" class="form-control" id="inputCity" placeholder="Istanbul">
            </div>
            <div class="form-group col-md-2 mt-3">
              <label for="inputZip">Zip</label>
              <input type="text" name="zip" class="form-control" id="inputZip" placeholder="34000">
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="example-tel-input" class="col-2 col-form-label">Mobile</label>
            <div class="col-10">
              <input class="form-control" name="tel" type="mobile" value="" id="example-tel-input">
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="example-tel-input" class="col-2 col-form-label">Select Domain</label>
            <select class="form-select w-75" aria-label="Default select example">
                <option selected>Select one</option>
                <option value="1">Angular Developer</option>
                <option value="2">React Developer</option>
                <option value="3">Dot.Net Developer</option>
                <option value="4">Quality Assurance</option>
                <option value="5">salesForce Developer</option>
                <option value="6">Python Developer</option>
              </select>
          </div>
          <div class="form-group mt-4">
            <label class="mr-4">Upload your CV:</label>
            <input type="file" name="file">
          </div>
          <button type="submit" class="btn btn-primary mt-4" click="pop()">Submit</button>
        </form>
      </div>

</div>
<div class="row">
    <div class="col-md-12">
        <footer class="foot">
            <ul class="d-flex justify-content-evenly">
                <li class=""><img src="assets/facebook.png" class="si"></li>
                <li class="me-4" ><img src="assets/instagram.png" class="si"></li>
                <li class=""><img src="assets/linkedin.png" class="si"></li>
                <li class=""><img src="assets/gmail.png" class="si"> Careers.braveaspire.com</li>
                <li class=""><img src="assets/phone.png" class="si">+91 000-8890</li>
            </ul>
            </footer>
    </div>

</div>
