

/* .back-ground-shad{
background-image: url('https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356_1280.jpg');
color: rgb(246, 247, 243);
height: 100vh;

font-weight: bolder;
background-size: cover;


} */

input{
    border-radius: 10px;
   /*  background-color: rgb(164, 226, 245); */
    color: brown;
    text-align: center;
}