

.section{
    background-image: url('https://images.pexels.com/photos/573130/pexels-photo-573130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 100%;
    height: 100%;
    background-size: cover;
}


.section-1{
    vertical-align: middle;
    text-align: center;
   color: aliceblue;
   padding-top: 10px;
} 

.heading-2{
    font-size: 50px;
   
}

.heading-3{
    font-family: "Sofia", sans-serif;
}

.heading-4{
    font-size: 150px;
    color: rgb(235, 224, 235);
    text-align: center;
   
  
}

.main-h{
    border: 5px solid white;
    height: 300px;
    width: 300px;
    padding-top: 120px;
    border-radius: 150px;
}

.btn{
    font-size: 30px;
    font-weight: bold;
}

.image-i{
    height: 30x;
    width: 30px;
    
}