<div class="section-2 cnt-main container-fluid">

    <img src="assets/back-ground-3.jpg" class="img-1">
    <div class="navbar-up">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <h2 class="text-white">BRAVE ASPIRE</h2>
                    <P class="text-warning ps-5">-Event Management App</P>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end ps-5" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#">Videos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Customer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Register</a></li>
                                <li><a class="dropdown-item" href="#">Login</a></li>
                                <li><a class="dropdown-item" href="#">Get Quote</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Vendor
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/vendor-regist">Register</a></li>
                                <li><a class="dropdown-item" href="#">Login</a></li>
                                <li><a class="dropdown-item" href="#">Get Quote</a></li>
                            </ul>
                        </li>


                        <form class="d-flex" role="search">
                            <input class="form-control ms-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary ms-2" type="submit">Search</button>
                        </form>


                        <li class="nav-item text-end ms-5">
                            <a class="nav-link" href="#">Login</a>
                        </li>

                        <li class="nav-item text-end ms-5">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item text-end ms-5">
                            <a class="nav-link" href="/carrer">Careers </a>
                        </li>



                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="heading-up">
        <h3 class="heading-1">Event Management App</h3>
        <h1 class="heading-2">BRAVE ASPIRE</h1>
        <h4 class="heading-3">Professional Event Organisers</h4>
        <p class="para-1">Andhra-pradesh-Telangana-Karnataka</p>
    </div>

</div>
<!-- end -->
<div class="section-3 me-2">
    <h3>Explore something</h3>
    <p> “If you don’t know where you are going, you’ll end up someplace else.” </p>

</div>
<!-- end -->
<div class="section-1 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/caro-1.jpg" class="d-block w-100" alt="..." class="img-3">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/caro-2.jpg" class="d-block w-100" alt="..." class="img-3">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/caro-3.jpg" class="d-block w-100" alt="..." class="img-3">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Best in Service</h3>
                <p>Our extensive database of venues and suppliers built over the years allows us to offer more
                    choice and flexibility when planning your event, so your party, conference or other occasion
                    becomes a spectacular production to amaze and inspire your guests.</p>
            </div>


        </div>

        <div class="row mt-5" >
            
            <div class="col-md-4">
                <h3>Best in Service</h3>
                <p>Our extensive database of venues and suppliers built over the years allows us to offer more
                    choice and flexibility when planning your event, so your party, conference or other occasion
                    becomes a spectacular production to amaze and inspire your guests.</p>
            </div>
            <div class="col-md-8">
                <div id="carouselExampleCaptions-1" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions-1" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions-1" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions-1" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/caro-4.jpg" class="d-block w-100" alt="..." class="img-3">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/caro-5.jpg" class="d-block w-100" alt="..." class="img-3">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/caro-6.jpg" class="d-block w-100" alt="..." class="img-3">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions-1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions-1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


        </div>

    </div>

</div>
<!-- end -->
<div class="fixed-bottom mb-5">
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="whats-up">
        <img src="assets/whatsup-2.png" class="whatsup">
    </a>
</div>
<!-- end -->
<div class="section-3 me-2">
    <h2>Our Services</h2>
    <p> “If you don’t know where you are going, you’ll end up someplace else.” </p>
</div>
<!-- end -->
<!-- begining of the cards -->
<div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <body class="bg-light">
          <main>
              <!-- Ui cards -->
              <section id="cards">
                  <div class="container py-2">
                      <div class="row pb-4">
                          <div class="col-12 text-center">
                             
                          </div>
                      </div>
                      <!-- cards -->
                      <div class="row">
                          <div class="col-lg-4 col-md-6 mb-4 pt-5">
                              <div class="card shadow-sm border-0">
                                  <div class="card-body">
                                      <div class="user-picture">
                                          <img src="https://4.imimg.com/data4/AH/TM/MY-5828518/wedding-mandap-decoration-services-1000x1000.png" class="shadow-sm" height="130" width="100%" />
                                      </div>
                                      <div class="user-content">
                                          <h5 class="text-capitalize user-name">Mandapas</h5>
                                          <p class=" text-capitalize text-muted small blockquote-footer">xxxxx</p>
                                          <div class="small">
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star-half-alt text-warning"></i>
                                              <i class="fa fa-star text-light"></i>
                                          </div>
                                          <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
                                              quia commodi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- end the code -->
                          <div class="col-lg-4 col-md-6 mb-4 pt-5">
                              <div class="card shadow-sm border-0">
                                  <div class="card-body">
                                      <div class="user-picture">
                                          <img src="https://cdn0.weddingwire.in/vendor/0897/3_2/960/jpg/looks-beauty-salon-6_15_230897-1563971678.jpeg" class="shadow-sm " height="130" width="100%" />
                                      </div>
                                      <div class="user-content">
                                          <h5 class="text-capitalize user-name">Bride</h5>
                                          <p class=" text-capitalize text-muted small blockquote-footer">xxxx</p>
                                          <div class="small">
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star-half-alt text-warning"></i>
                                              <i class="fa fa-star text-light"></i>
                                              <i class="fa fa-star text-light"></i>
                                          </div>
                                          <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
                                              quia commodi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
  
                           <!-- end the code -->
                          <div class="col-lg-4 col-md-6 mb-4 pt-5">
                              <div class="card shadow-sm border-0">
                                  <div class="card-body">
                                      <div class="user-picture">
                                        <img src="https://www.vioz.in/images/web/groom2.jpg" class="shadow-sm" height="130" width="100%" />
                                      </div>
                                      <div class="user-content">
                                          <h5 class="text-capitalize user-name">groom</h5>
                                          <p class=" text-capitalize text-muted small blockquote-footer">xxxx</p>
                                          <div class="small">
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star-half-alt text-warning"></i>
                                          </div>
                                          <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
                                              quia commodi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <!-- end the code -->
                          <div class="col-lg-4 col-md-6 mb-4 pt-5">
                              <div class="card shadow-sm border-0">
                                  <div class="card-body">
                                      <div class="user-picture">
                                          <img src="https://utah.travel/wp-content/uploads/2022/07/Kerala-dfdsdsf.jpg" class="shadow-sm" height="130" width="100%" />
                                      </div>
                                      <div class="user-content">
                                          <h5 class="text-capitalize user-name">Events</h5>
                                          <p class=" text-capitalize text-muted small blockquote-footer">xxxx</p>
                                          <div class="small">
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star-half-alt text-warning"></i>
                                              <i class="fa fa-star text-light"></i>
                                              <i class="fa fa-star text-light"></i>
                                              <i class="fa fa-star text-light"></i>
                                          </div>
                                          <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
                                              quia commodi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                                                   
                          <div class="col-lg-4 col-md-6 mb-4 pt-5">
                              <div class="card shadow-sm border-0">
                                  <div class="card-body">
                                      <div class="user-picture">
                                        <img src="https://theluxuryeditor.com/wp-content/uploads/2019/02/178793622.jpg" class="shadow-sm" height="130" width="100%" />
                                      </div>
                                      <div class="user-content">
                                          <h5 class="text-capitalize user-name">Hotels</h5>
                                          <p class=" text-capitalize text-muted small blockquote-footer">xxxx</p>
                                          <div class="small">
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star-half-alt text-warning"></i>
                                              <i class="fa fa-star text-light"></i>
                                          </div>
                                          <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
                                              quia commodi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- end the code -->
                          <div class="col-lg-4 col-md-6 mb-4 pt-5">
                              <div class="card shadow-sm border-0">
                                  <div class="card-body">
                                      <div class="user-picture">
                                          <img src="https://images.prismic.io/theweddart/b92d363f-e73b-4d2f-b9ee-79ac79040f1d_wedding+car.jpeg?auto=compress,format&rect=0,165,1125,563&w=1200&h=600" class="shadow-sm " height="130" width="100%" />
                                      </div>
                                      <div class="user-content">
                                          <h5 class="text-capitalize user-name">Transport</h5>
                                          <p class=" text-capitalize text-muted small blockquote-footer">xxxx</p>
                                          <div class="small">
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star text-warning"></i>
                                              <i class="fa fa-star-half-alt text-warning"></i>
                                              <i class="fa fa-star text-light"></i>
                                              <i class="fa fa-star text-light"></i>
                                          </div>
                                          <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
                                              quia commodi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- /cards -->
              </section>
              <!-- /Ui cards -->
          </main>
      
      </body>
      </div>
  
    </div>
  
  </div>
  <!-- end of the cards -->
  <div class="section-3 me-2">
    <h2>Our Team</h2>
    <p> “If you don’t know where you are going, you’ll end up someplace else.” </p>
</div>
<!-- end -->
<div class="row">
    <div class="col-md-4">
        <div class="flipper-container">
            <div class="flip">
                <div class="front face text-center">
                    <img src="assets/birthday.jpg"
                        height="300px" width="450px">
                </div>
                <div class="back face">
                    <div class="col-md-12">
                        <img src="assets/person1.png" class="img-wid">
                        <h4>NAME:XXXX</h4>
                        <h4>ID:XXXX</h4>
                        <h4>CATEGORY:XXXX</h4>
                        <h4>MOBILE:XXXX</h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="col-md-4">
        <div class="flipper-container">
            <div class="flip">
                <div class="front face text-center">
                    <img src="assets/img-3.jpg"
                        height="300px">
                </div>
                <div class="back face">
                    <div class="col-md-12">
                        <img src="assets/person2.png" class="img-wid">
                        <h4>NAME:XXXX</h4>
                        <h4>ID:XXXX</h4>
                        <h4>CATEGORY:XXXX</h4>
                        <h4>MOBILE:XXXX</h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="col-md-4">
        <div class="flipper-container">
            <div class="flip">
                <div class="front face text-center">
                    <img src="assets/img-1.jpeg"
                        height="300px">
                </div>
                <div class="back face">
                    <div class="col-md-12">
                        <img src="assets/person3.png" class="img-wid">
                        <h4>NAME:XXXX</h4>
                        <h4>ID:XXXX</h4>
                        <h4>CATEGORY:XXXX</h4>
                        <h4>MOBILE:XXXX</h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="col-md-4">
        <div class="flipper-container">
            <div class="flip">
                <div class="front face text-center">
                    <img src="assets/img-6.jpg"
                        height="300px" width="450px">
                </div>
                <div class="back face">
                    <div class="col-md-12">
                        <img src="assets/person1.png" class="img-wid">
                        <h4>NAME:XXXX</h4>
                        <h4>ID:XXXX</h4>
                        <h4>CATEGORY:XXXX</h4>
                        <h4>MOBILE:XXXX</h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="col-md-4">
        <div class="flipper-container">
            <div class="flip">
                <div class="front face text-center">
                    <img src="assets/wel-pic1.jpeg"
                        height="300px">
                </div>
                <div class="back face">
                    <div class="col-md-12">
                        <img src="assets/person2.png" class="img-wid">
                        <h4>NAME:XXXX</h4>
                        <h4>ID:XXXX</h4>
                        <h4>CATEGORY:XXXX</h4>
                        <h4>MOBILE:XXXX</h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="col-md-4">
        <div class="flipper-container">
            <div class="flip">
                <div class="front face text-center">
                    <img src="assets/img-5.jpg"
                        height="300px" width="450px">
                </div>
                <div class="back face">
                    <div class="col-md-12">
                        <img src="assets/person3.png" class="img-wid">
                        <h4>NAME:XXXX</h4>
                        <h4>ID:XXXX</h4>
                        <h4>CATEGORY:XXXX</h4>
                        <h4>MOBILE:XXXX</h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>

</div>
<!-- end -->
<section class="section-4">
   <div>
<h1 class="head-1 mt-3">Reservation</h1>
<p class="para-2 mt-4">Sit back and Relax. Rest we will take care</p>
<div>
    <button class="btn btn-outline-dark mt-3">BOOK YOUR EVENT</button>
</div>
<h5 class="mt-3">TELEPHONE RESERVATIONS</h5>
<h1 class="mt-3">+91 999 965 8992</h1>
    </div>
</section>
    <!-- end -->            
                    
   <div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3 pe-5">
<h1>Andhrapradesh</h1>
<P>xxxxxx</P>
<P>xxxxxx</P>
<P>xxxxxx</P>
        </div> 
        <div class="col-md-3"></div>
        <div class="col-md-3  pe-5">
            <h1>Telangana</h1>
            <P>xxxxxx</P>
            <P>xxxxxx</P>
            <P>xxxxxx</P>
        </div>
    </div>

   </div> 
<!-- end -->
   <div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-6 mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.505611271871!2d78.44197887492035!3d17.43549790141794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91774818db87%3A0x1329a7d8efe11b90!2sBraveAspire%20Infotech%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1690528007698!5m2!1sen!2sin" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6 mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.505611271871!2d78.44197887492035!3d17.43549790141794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91774818db87%3A0x1329a7d8efe11b90!2sBraveAspire%20Infotech%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1690528007698!5m2!1sen!2sin" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

   </div>
   <!-- end -->

   <div class="sec-1 text-center mt-5 bg-secondary p-3 text-white">
    <p>Call & Mail Us</p>
    <p>call:xxxxxx,xxxxxx</p>
    <P>Email:events@braveaspire.com</P>
   </div>
<!-- end -->
   <div class="sec-2 mt-5 text-center">
<p>Associated With</p>
<h1 class="head-2">BRAVE ASPIRE</h1>
<h2>Professional Events Organisers</h2>
   </div>
<!-- end -->
   <div class="sec-1 text-center mt-5 bg-secondary p-3 text-white">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi itaque asperiores sit molestiae enim iusto, delectus eius aperiam magnam facere ad animi magni exercitationem sapiente quaerat tenetur architecto, ab, natus consequuntur ullam praesentium! Ea voluptate necessitatibus nihil maxime quasi id, quae eveniet aliquam sapiente at voluptatem rem, accusantium eius soluta recusandae eos quia, modi ducimus aperiam facere repellendus hic sed qui natus? Quod voluptas rerum quae. Ab quibusdam odio magnam illo adipisci enim? Fugit totam magnam ratione tempore consequatur, error quaerat labore voluptas, non accusantium vitae optio, odio eum id nulla ullam excepturi molestiae pariatur laudantium reiciendis eius aut beatae?</p>
   </div>
   <!-- end -->

   <footer class=" bg-success p-5 text-white" >
    <div class="row text-center">
        <div class="col-md-3">
            <h1 class="head-3">BRAVE ASPIRE</h1>
            <p>BRAVE ASPIRE is a Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil illum voluptatem quibusdam quasi rerum qui, facilis perferendis saepe minima iusto? Fuga recusandae vitae at eius delectus repellendus et commodi tempore.</p>
        </div>
        <div class="col-md-3">
            <h2>Our Locations</h2>
            <p>xxxxxxx</p>
            <p>xxxxxxx</p>
            <p>xxxxxxx</p> 
            <p>xxxxxxx</p>
        </div>
        <div class="col-md-3">
            <h2>Quick Link</h2>
            <p>xxxxxxx</p>
            <p>xxxxxxx</p>
            <p>xxxxxxx</p> 
            <p>xxxxxxx</p>
        </div>
        <div class="col-md-3">
           <h2>Opening Hours</h2> 
           <p>xxxxxxx</p>
            <p>xxxxxxx</p>
            <p>xxxxxxx</p> 
            <p>xxxxxxx</p>
        </div>

    </div>
   </footer>




<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      
      <div class="modal-body">
        <app-chatbot></app-chatbot>
      </div>
     
    </div>
  </div>
</div>