<nav class="navbar  navbar-inverse navbar-fixed-left">
    <div class="container-fluid">
    
      <button class="navbar-toggler fixed-left bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-warning text-start ps-3 mt-2 " id="navbarNavAltMarkup">
        <div class="navbar-nav">
         
          <a class="nav-link" href="#">Nofications</a>
          <a class="nav-link" href="#">Reviews</a>
          <a class="nav-link" href="#">LiveUpdates</a>
          <a class="nav-link" href="#">complaints</a>
      
       
        </div>
      </div>
    </div>
  </nav>
