.sidenav{
    height: 80vh;
}

.footer{
    height: 100px;
    color: aliceblue;
}

.navbar-brand{
    border: 3px solid rgb(35, 4, 234);
    border-radius: 60px;
    padding: 3px;
    background-color: rgb(195, 242, 6);
}


  